/* Police */
@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}

body
{
    font-family: 'Raleway';
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
/* haut de page */

.top-page {
    height: 5%;
    width: 100%;
    margin-bottom: 0%;
}
header.header{
    display: flex;
    align-items: center;
    margin-left: 5%;
}
header img {
    width: 10%;
    height: 5%;
}
.landing-page{
    width: 80%;
    margin-left: 5%;
}
nav.menu{
    display: flex;
    list-style-type: none;
    width: 40%;
    justify-content: space-between;
    padding-left: 50%;
    padding-right: 5%;
    align-items: center;
}
.menu ul{
    list-style-type: none;
    padding-left: 0%;
}
.Menu1 ul{
    list-style-type: none;
    display: flex;
    width: 110%;
    margin-left: 0%;
    justify-content: space-between;
    padding-left: 0%;
}
.Menu1{
    color: black;
    list-style-type: none;
    text-decoration: none;
    width: 90%;
    justify-content: space-between;
    margin-right: 20%;
    align-items: center;
    margin-top: 0%;
}
.S-inscrire{
    color: #0065fc;
    text-decoration: none;
    font-weight: bold;
    padding-top: 30%;
}
.Act:hover, .Hebergement:hover{
    color: #0065fc;
    border-top: #0065fc solid 2px;
}
.S-inscrire:hover{
    border-top: #0065fc 2px solid;
}
.Act, .Hebergement{
    padding-top: 18%;
    padding-right: 0%;
}
.Act{
    padding-top: 30%;
}

.big-title{
    font-size: 90%;
    font-family: 'Raleway';
    font-weight: bold;
}
.Second-title{
    font-size: 70%;
}
/* barre de recherche */
.barre-recherche{
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: 5%;
}
.Espace-recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: none;
    padding-left: 20px;
    border: 1px solid #f2f2f2;
}

.Icon-recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #f2f2f2;
    color: black;
    border-radius: 10px 0 0 10px;

    
}
.Bouton h2{
    font-size: 100%;
}
.Bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0; 
}
.boutonMobile{
    display: none;
}

/* filtres */
.filtre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2%;
    font-weight: bold;
    font-size: 60%;
    margin-left: 5%;
    width: 80%;
}
.filtre-title{
    margin-right: 2%;
}

.service-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    border: 2px solid #d5d5d5;
    border-radius: 30px;
    font-weight: bold;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.service-item:hover > .delivery-icon{
    color: white;
    background-color: #0065fc;
}

.service-item:hover > .delivery-text{
    color: #0065fc;
}

.delivery-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.delivery-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180%;
    width: 30px;
    height: 30px;
    color: #0065fc;
    background-color: #deebff;
    border: 2px solid #deebff;
    border-radius: 100%;
    margin-left: -4px;
}

/* Info */
.info{
    display: flex;
    align-items: center;
    font-size: 70%;
    margin-top: 2%;
    margin-left: 5%;
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    border: 2px solid #d5d5d5;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.info-text{
    padding-left: 10px;
}

/* Premier Cadre */
.Hb-Marseille{
    height: 500px;
    width: 60%;
    background-color: #f2f2f2;
    border-radius: 30px;
    margin-top: -2%;
}
.Hb-Marseille h2
{
    margin: 5%;
    font-weight: bolder;
    font-size: 110%;
}

.Hb-Marseille h3
{
    font-size: 80%;
    height: 10px;
    font-weight: bolder;
    margin-left: 5%;
}

.Room-Marseille{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
    margin-top: -5%;

}
.margtop{
    padding-top: 55%;
}
.RoomA{
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.RoomB{
    background-image: url(/Users/vincentbriquet/Documents/Projet2/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.RoomC{
    background-image: url(/Users/vincentbriquet/Documents/Projet2/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.RoomD{
    background-image: url(/Users/vincentbriquet/Documents/Projet2/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.RoomE{
    background-image: url(/Users/vincentbriquet/Documents/Projet2/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.RoomF{
    background-image: url(/Users/vincentbriquet/Documents/Projet2/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}
.RoomA, .RoomB, .RoomC, .RoomD, .RoomE, .RoomF{
    background-size: cover;
    background-position: center;
    height: 50%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-top: -7%;
}
.Room-details{
    width: 30%;
    height: 160px;
    background-color: white;
    font-size: 60%;
    border-radius: 15px;
    border: 3px solid white;
    box-shadow: 5px 5px 10px #d5d5d5;
    margin-top: 20px;
    cursor: pointer;
}
.Room-details:hover{
    color:#0065fc;
}

.Room-nameA{
    font-weight:bolder;
    padding-left: 5%;
    font-size: 130%;
}
.Room-priceA{
    padding-left: 5%;
}
.noteA{
    padding-left: 5%;
}

.good{
    color: #0065fc;
}

.bad{
    color: #d5d5d5;
}
span{
    font-weight: bold;
}

/* Deuxième cadre */
.Pop{
    height: 500px;
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 30px;
    margin-top: -2%;
}
.Pop-title{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
    margin-left: -10%;
    margin-right: -10%;
    flex-wrap: wrap;
    padding-bottom: 5%;
    padding-top: 5%;

}
.Pop h2{
    padding-top: 2%;
    font-weight: bolder;
    font-size: 110%;
}
.B-Room{
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 100px;
    border-radius: 10px 0 0 10px;
    margin-left: 5%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 10px #d5d5d5;
    border: white solid 2px;
    cursor: pointer;
    flex-wrap: wrap;
}
.B-Roombis{
    background-size: cover;
    background-position: center;
    width: 45%;
    height: 120px;
    border-radius: 10px 0 0 10px;
    margin-left: 5%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 10px #d5d5d5;
    border: white solid 2px;
    cursor: pointer;
    flex-wrap: wrap;
}

.Best-details{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}
.Room-info{
    background-color: white;
    height: 100px;
    width: 50%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding-left: 5%;
    font-size: 80%;
    border-radius: 0 15px 15px 0;
    box-shadow: 5px 5px 10px #d5d5d5;
    border: white solid 2px;
    cursor: pointer;
}
.noteB{
    margin-top: 10%;
}
.noteC{
    margin-top: 10%;
}

.Premiers-cadres{
    display: flex;
    width: auto;
    justify-content: space-around;
    margin-top: 5%;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
}
.Room-name{
    font-weight: bold;
}
.Room-info:hover > .Room-name{
    color: #0065fc;
}
.B-Room:hover > .Room-name{
    color: #0065fc;
}

/* Activités */
.galerie{
    margin-left: 2%;
    margin-right: 2%;
}
.Espace-activity{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: space-between;
}
.Espace-activityB{
    width: 23%;
    height: 420px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.activity-cadre{
    width: 23%;
    height: 420px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    border: 2px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.activity-cadreB{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    border: 2px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.pic-activity1{
    background-image: url(/Users/vincentbriquet/Documents/Projet2/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.pic-activity2{
    background-image: url(/Users/vincentbriquet/Documents/Projet2/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 170px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.pic-activity3{
    background-image: url(/Users/vincentbriquet/Documents/Projet2/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.pic-activity4{
    background-image: url(/Users/vincentbriquet/Documents/Projet2/images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.pic-activity5{
    background-image: url(/Users/vincentbriquet/Documents/Projet2/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.pic-activity6{
    background-image: url(/Users/vincentbriquet/Documents/Projet2/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.activity-name{
    align-items: center;
    margin-left: 5%;
    font-weight: bold;
}
.activity-cadre:hover > .activity-name{
    color: #0065fc;
}
.activity-cadreB:hover > .activity-name{
    color: #0065fc;
}

/* Footer */
footer{
    background-color:#f2f2f2;
    height: 100%;
    width: 100%;
}
.Pied-page{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.titre-pied1{
    font-weight: bold;
    margin-left: 5%;
}
.titre-pied2{
    font-weight: bold;
    margin-left: 5%;
    margin-top: -2%;
}
.liste-pied{
    text-decoration: none;
    color: black;
    margin-top: 5%;
    padding-top: 5%;
    height: 30px;
}
.menu-pied li{
    margin-bottom: 5%;
}
.menu-pied ul{
    list-style-type: none;
    padding-left: 0%;
}
.menu-pied{
    list-style-type: none;
    margin-left: 5%;
    margin-bottom: 5%;
}
.A-propos, .Assistance, .hebergements{
    width: 30%;
}
.A-propos{
    margin-left: 2%;
}
/* PARTIE RESPONSIVE */
@media  screen and (max-width: 768px){
    .top-page{
        margin-left: 0%;
    }
    nav.menu{
        width: 100%;
        padding-left: 30%;
    }
    .Menu1 ul{
        width: 105%;
    }
    header img {
        width: 15%;
        height: 7%;
    }
    .Act, .Hebergement{
        padding-top: 20%;
    }
    .Act{
        padding-top: 35%;
    }
    .filtre{
        justify-content: center;
        padding-top: 2%;
        font-weight: bold;
        font-size: 60%;
        width: 95%;
        margin-left: 0%;
    }
    .barre-recherche{
        width: 70%;
        margin-left: 25%;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .Espace-recherche{
        height: 40px;
        width: 100%;
        font-size: 18px;
        padding-left: 20px;
    }
    
    .Icon-recherche{
        height: 40px;
        width: 40px;
    }
    .Premiers-cadres{
        flex-direction: column-reverse;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .margtop{
        padding-top: 58%;
    }
    .RoomA, .RoomB, .RoomC, .RoomD, .RoomE, .RoomF{
        height: 60%;
    }
    .Room-details{
        height: 180px;
    }
    .Hb-Marseille{
        height: 530px;
        width: 95%;
        margin-top: -2%;
        margin-left: 2%;
        margin-bottom: 5%;
        margin-right: 2%;

    }
    .Pop{
        height: 600px;
        width: 95%;
        margin-left: 2%;
        margin-top: -2%;
        margin-bottom: 5%;
    }
    .Pop-title{
        padding-top: 2%;
    }
    .Best-details{
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .B-Room{
        width: 240px;
        height: 140px;
        margin-left: 5%;
        margin-bottom: 2%;
     
    }
    .Room-info{
        height: 140px;
        width: 60%;
        margin-bottom: 2%;
        margin-right: 5%;
        padding-left: 5%;
        font-size: 80%;
    }
    .B-Roombis{
        width: 120px;
        height: 80px;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .Pop-title{
        margin-right: 5%;
        margin-left: 5%;
        justify-content: space-between;
        margin-bottom: -5%;
        margin-top: -2%;
    }
    .B-Roombis{
        width: 240px;
        height: 140px;
        margin-left: 5%;
        margin-bottom: 2%;
    }
    .Room-name{
        font-size: 140%;
    }
    .noteB{
        margin-top: 10%;
    }
    .noteC{
        margin-top: 5%;
    }
    .service-item{
        height: 30px;
        margin-right: 5px;
    }
    .galerie{
        width: 95%;
        margin-left: 2%;
    }
    .Espace-activity{
        width: 100%;
        display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas: 
                "pic-activity1 pic-activity2"
                "pic-activity1 pic-activity3"
                "pic-activity4 pic-activity5"
                "pic-activity4 pic-activity6";
        margin-bottom: 5%;
        margin-right: 5%;
    }
    .Espace-activityB{
        width: 100%;
        height: 420px;
    }
    .activity-cadre{
        width: 80%;
        height: 420px;
        margin-bottom: 5%;
    }
    .Espace-activity{
        width: 100%;
        height: 840px;
    }
    .Pied-page{
        width: 100%;
    }
    .nos-hebergements{
        width: 30%;
        margin-top: -5%;
    }
    .assisstance{
        width: 30%;
        margin-top: -2%;
    }
    .A-propos{
        width: 30%;
        margin-top: -2%;
    }
    .titre-pied1{
        margin-top: 20%;
    }
}

/* RESPONSIVE mobile */
@media  screen and (max-width: 375px){
    .header{
        height: 120px;
        width: 100%;
        align-items: flex-start;
        margin-left: 0;
        display: flex;
        justify-content: space-around;
    }
    header.header{
        margin-left: 0%;
        align-items: flex-start;
    }
    .header img{
        height: 50%;
        width: 40%;
        margin-left: 5%;
    }
    nav.menu{
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-left: 0%;
        padding-right: 0%;
        font-size: 100%;
    }
    .Menu1{
        order: 1;
        width: 120%;
        display: flex;
        margin-left: -50%;
        font-size: 110%;
        margin-right: 0%;
    }
    .Hebergement{
        margin-top: 0%;
        justify-content: center;
        padding-left: 40%;
        padding-right: 10%;
        margin-right: 15%;
        padding-bottom: 5%;
    }
    .Act{
        margin-top: 1%;
        justify-content: center;
        padding-right: 70%;
        padding-bottom: 8%;
        padding-left: 50%;
    }
    .big-title{
        color: black;
        font-size: 140%;
        font-weight: bold;
        width: 90%;
        margin-left: 2%;
        margin-top: 10%;
    }
    .Second-title{
        margin-left: 2%;
        width: 90%;
    }
    .landing-page{
        width: 90%;
        margin-left: 2%;
    }
    .S-inscrire{
        width: 100%;
        margin-left: 180%;
        margin-top: -20%;
        font-size: 110%;
    }
    .Menu1:hover{
        border-top: none;
    }
    .Act:hover, .Hebergement:hover{
        color: #0065fc;
        border-bottom: #0065fc solid 2px;
    }
    .Act, .Hebergement{
        border-bottom: #deebff solid 2px;
    }
    .barre-recherche{
        align-content: center;
        align-items: center;
        margin-left: 4%;
        width: 95%;
    }
    .Bouton{
        width: 40px;
        margin-right: 2%;
        margin-left: 6%;
        border-radius: 10px; 
        border: solid 1px #0065fc;
    }
    .Espace-recherche{
        padding-right: 12%;
        width: 112%;
        border-top: solid 1px #f2f2f2;
        border-bottom: solid 1px #f2f2f2;
    }
    .boutonOrdi{
        display: none;
    }
    .boutonMobile{
        display: flex;
    }
    .filtre{
        flex-wrap: wrap;
        height: 200px;
        justify-content: flex-start;
        padding-top: 0%;
        margin-left: 2%;
    }
    .filtre-title{
        font-size: 140%;
        width: 100%;
        height: 10%;
        margin-bottom: 0%;
        margin-left: 2%;
    }
    .delivery-text{
        font-size: 150%;
        padding-left: 10px;
    }
    .delivery-icon{
        height: 40px;
        width: 40px;
        margin-left: -2px;
    }
    .service-item{
        margin-right: 7%;
        height: 40px;
    }
    .info-text{
        font-size: 120%;
    }
    .Premiers-cadres{
        margin-right: 0%;
        padding-left: 0%;
        margin-left: 0%;
        padding-right: 0%;
        margin-bottom: 0%;
    }
    .Hb-Marseille{
        height: 1300px;
        background-color: white;
        margin-left: 2%;
    }
    .Room-Marseille{
        flex-direction: column;
    }
    .Room-details{
        width: 100%;
        height: 180px;
    }
    .Room{
        height: 60%;
    }
    .Pop{
        height: 420px;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        border-radius: 0%;
    }
    .B-Room{
        width: 30%;
        height: 100px;
    }
    .Room-info{
        height: 100px;
        width: 45%;
        font-size: 80%;
        padding-right: 10%;
    }
    .Room-price{
        margin-top: -2%;
        margin-bottom: 1%;
    }
    .Room-name{
        margin-top: 0%;
    }
    .noteB{
        margin-top: 2%;
    }
    .galerie{
        margin-left: 2%;
        margin-right: 2%;
    }
    .galerie h2{
        padding-bottom: 5%;
    }
    .Espace-activity{
        display: flex;
        flex-direction: column;
        height: 1000px;
        margin-top: 5%;
    }
    .pic-activity1, .pic-activity2, .pic-activity3, .pic-activity4, .pic-activity5, .pic-activity6{
        width: 100%;
        height: 100px;
    }
    .activity-cadre{
        width: 100%;
        height: 150px;
        margin-top: -5%;
    }
    .activity-cadreB{
        margin-bottom: 5%;
    }
    .Espace-activityB{
        margin-bottom: 5%;
        justify-content: start;
    }
    .margtop{
        padding-top: 35%;
    }
    .RoomA, .RoomB, .RoomC, .RoomD, .RoomE, .RoomF{
        height: 60%;
        margin-top: -4%;
    }
    footer{
        padding-top: 10%;
    }
    .Pied-page{
        flex-direction: column;
        align-items: flex-start;
    }
    .A-propos, .hebergements, .Assistance{
        margin-left: 0;
        width: 100%;
    }
    .menu-pied, .ligne1, .ligne2{
        margin-bottom: 5%;
        width: 80%;
    }
    .menu-pied{
        margin-left: 10%;
    }
    .titre-pied1, .titre-pied2{
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 110%;
        font-weight: bold;
        width: 80%;
        margin-left: 10%;
    }
}

/* RESPONSIVE Gros écran*/
@media  screen and (min-width: 1440px){
    .Act, .Hebergement{
        padding-top: 25%;
        padding-right: 0%;
    }
    .Act{
        padding-top: 45%;
    }
    .S-inscrire{
        padding-top: 40%;
    }
    .header img{
        padding-right: 40%;
    }
    nav.menu{
        font-size: 100%;
        width: 30%;
        padding-left: 15%;
        padding-top: 0%;
    }
    .Menu1{
        width: 65%;
        justify-content: space-between;
    }
    .Menu1 ul{
        width: 100%;
    }
    .big-title{
        font-size: 140%;
    }
    .filtre{
        width: 60%;
    }
    .filtre-title{
        font-size: 140%;
    }
    .delivery-text{
        font-size: 140%;
    }
    .RoomA, .RoomB, .RoomC, .RoomD, .RoomE, .RoomF{
        height: 60%;
        margin-top: -5%;
    }
    .margtop{
        padding-top: 48%;
    }
    .Room-details{
        height: 170px;
    }
    .noteB{
        margin-top: 10%;
    }
    .noteC{
        margin-top: 0%;
    }
    .Hb-Marseille h3{
        margin-top: -4%;
        font-size: 100%;
    }
    .Premiers-cadres h2{
        font-size: 140%;
    }
    .Pop-title{
        padding-bottom: 0%;
    }
    .ligne1, .ligne2{
        margin-bottom: 5%;
    }
    .galerie h2{
        font-size: 140%;
    }
}
@media  screen and (min-width: 1920px){
    .header img{
        padding-right: 45%;
    }
    .Second-title{
        font-size: 100%;
    }
    .filtre{
        width: 50%;
    }
    .filtre-title{
        font-size: 190%;
    }
    .Act, .Hebergement{
        padding-right: 0%;
        padding-top: 24%;
        height: 30px;
    }
    .Act{
        padding-top: 44%;
    }
    .S-inscrire{
        padding-top: 39%;
    }
    .Menu1{
        width: 100%;
    }
    .Menu1 ul{
        width: 100%;
    }
    .Hebergemen{
        margin-left: 10%;
    }
    nav.menu{
        padding-top: 0%;
        font-size: 130%;
        width: 100%;
        padding-right: 0%;
        padding-left: 10%;
        margin-right: 5%;
    }
    .barre-recherche{
        font-size: 130%;
    }
    .Bouton{
        width: 120px;
        font-size: 90%;
        font-weight: normal;
    }
    .info{
        font-size: 110%;
        margin-bottom: 0%;
        margin-top: 0%;
    }
    .delivery-text{
        padding-left: 10px;
        font-size: 190%;
    }
    .Premiers-cadres{
        margin-top: 3%;
    }
    .Hb-Marseille{
        height: 780px;
    }
    .margtop{
        padding-top: 58%;
    }
    .RoomA, .RoomB, .RoomC, .RoomD, .RoomE, .RoomF{
        margin-top: -6%;
    }
    .Room-details{
        height: 280px;
        font-size: 100%;
    }
    .Pop{
        height: 780px;
    }
    .Pop-title{
        margin-right: 5%;
        justify-content: space-between;
        margin-left: 5%;
    }
    .B-Room{
        height: 180px;
    }
    .Room-info{
        height: 180px;
        font-size: 130%;
    }
    .noteB{
        margin-top: 20%;
    }
    .noteC{
        margin-top: 15%;
    }
    .Espace-activity{
        height: 600px;
    }
    .activity-cadre{
        height: 580px;
    }
    .pic-activity1, .pic-activity4{
        height: 560px;
    }
    .pic-activity2{
        height: 230px;
    }
    .pic-activity3{
        height: 150px;
    }
    .pic-activity5{
        height: 180px;
    }
    .pic-activity6{
        height: 200px;
    }
    .activity-cadreB{
        margin-bottom: 18%;
    }
    .activity-name{
        font-size: 120%;
    }
}