/* Police */
@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

body
{
    font-family: 'Raleway';
    margin: 5%;
}
/* haut de page */

.top-page {
    height: 5%;
    width: 100%;
    margin-bottom: 0%;
}
header.header{
    display: flex;
    align-items: center;
}
header img {
    width: 10%;
    height: 5%;
}

nav.menu{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    padding-left: 50%;
    padding-right: 5%;
    list-style-type: none;
    list-style: none;
 
}

.Hebergement{
    color: #1065fc;
    list-style-type: none;
    list-style: none;
    text-decoration: none;

}
.S-inscrire{
    color: #1065fc;
    text-decoration: none;
    font-weight: bold;
}
.Activity{
    color: black;
    text-decoration: none;
}

.big-title{
    font-size: 90%;
    font-family: 'Raleway';
    font-weight: bold;
}
.Second-title{
    font-size: 70%;
}
/* barre de recherche */
.barre-recherche{
    display: flex;
    align-items: center;
    width: 40%;
    border: 0,5px solid #f2f2f2;
}
.Espace-recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: none;
    padding-left: 20px;
}

.Icon-recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #f2f2f2;
    color: black;
    border-radius: 10px 0 0 10px;

    
}
.Bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background-color: #1065fc;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0; 
}

/* filtres */
.filtre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2%;
    font-weight: bold;
    font-size: 60%;
    width: 60%;
}

.service-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    border: 2px solid #d5d5d5;
    border-radius: 30px;
    font-weight: bold;
    height: 30px;
    margin-right: 10px;
}

.service-item:hover > .delivery-icon{
    color: white;
    background-color: #1065fc;
}

.service-item:hover > .delivery-text{
    color: #1065fc;
}

.delivery-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.delivery-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180%;
    width: 32px;
    height: 32px;
    color: #1065fc;
    background-color: #deebff;
    border: 2px solid #deebff;
    border-radius: 100%;
    margin-left: -2px;
}

/* Info */
.info{
    display: flex;
    align-items: center;
    font-size: 70%;
    margin-top: 2%;
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1065fc;
    border: 2px solid #d5d5d5;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.info-text{
    padding-left: 10px;
}

/* Premier Cadre */
.Hb-Marseille{
    height: 530px;
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 30px;
    margin-left: -10%;
    margin-top: -2%;
}
.Hb-Marseille h2
{
    margin: 5%;
    font-weight: bolder;
    font-size: 80%;
}

.Room-Marseille h3
{
    font-size: 60%;
    height: 15%;
    margin-bottom: 23%;
    font-weight: bolder;
}

.Room-Marseille{
    min-height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
    margin-top: -5%;

}

.Room {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
}

.Room-details{
    width: 30%;
    height: 190px;
    background-color: white;
    font-size: 60%;
    border-radius: 15px;
    border: 3px solid white;
    box-shadow: 5px 5px 10px #d5d5d5;
    margin-top: 20px;
}

.good{
    color: #1065fc;
}

.bad{
    color: #d5d5d5;
}

/* Deuxième cadre */
.Pop{
    height: 530px;
    width: 40%;
    background-color: #f2f2f2;
    border-radius: 30px;
    margin-right: -10%;
    margin-top: -2%;
}
.Pop-title{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
    margin-left: -10%;
    margin-right: -10%;

}
.Pop h2{
    padding-top: 5%;
    font-weight: bolder;
    font-size: 80%;
}
.B-Room{
    background-size: cover;
    background-position: center;
    width: 140px;
    height: 120px;
    border-radius: 10px 0 0 10px;
    margin-left: 5%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 10px #d5d5d5;
    border: white solid 2px;
}
.Best-details{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}
.Room-info{
    background-color: white;
    height: 120px;
    width: 220px;
    margin-bottom: 5%;
    margin-right: 5%;
    font-size: 60%;
    padding-left: 5%;
    border-radius: 0 15px 15px 0;
    box-shadow: 5px 5px 10px #d5d5d5;
    border: white solid 2px;
}
.noteB{
    margin-top: 20%;
}

.Premiers-cadres{
    display: flex;
    justify-content: space-around;
    margin: 5%;
}
.Room-name{
    font-weight: bold;
}

/* Activités */
.best-activity{
    background-color: aqua;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
    flex-wrap: wrap;
}

.activity-box{
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 200px;
    flex: 1;
}
.activity1{
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
   
}
.activity2{
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    grid-column: 3/5;
    grid-row: 3/5;
}
.activity3{
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    grid-column: 3/5;
    grid-row: 3/5;
}
.activity4{
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  
}
.activity5{
    background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}
.activity6{
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}    
.activity-details{
    background-color: wheat;
    width: 100%;
 
  
}